/*-------------------------------------------------
     common codes and utilities starts here 
---------------------------------------------------*/
/* --------------google fonts import-------------- */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
span{
    color: deepskyblue;
}
.section-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    color: #000000;
    font-weight: 500;
    font-size: 30px;    
}
.dotted-hr{
    margin: 20px 0;
    border: 5px dotted rgb(138, 0, 192);
    border-bottom: none ;
    width: 29%;    
}
.button-right,.fa-arrow-right{    
    color: #E02C6DDE;     
}
.fa-arrow-right{
    margin-left: 15px;
}
.button-left{
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    color: white;
    width: 150px;
    height: 50px;    
    background-color: #E02C6DDE; 
    padding: 0 18px;
    border-radius: 50px;
}
.button-left > .fa-arrow-right{
    color: white;
}
.button-right{
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
}
/* common codes and utilities ends here*/
/* nav bar starts here */
header{
    padding: 50px 120px;   
    background-color: rgb(17, 169, 207);    
}
.menubar{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.menu-title{
    color: white;
    font-weight: 500;
    font-size: 24px;    
}
.menu-right > ul {
    display: flex;

}
.menu-right> ul >li{
    list-style: none;
    padding-left: 20px;    
}
.menu-right> ul >li a{
    text-decoration: none;
    color: white;   
}
.fa-shopping-cart, .fa-search{
    font-size: 20px;
}
/* nav bar ends here */
/* top banner starts here */
.top-banner{
    display: flex;    
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 60px; 
    margin: 50px 0;  
}
.banner-info{
    width: 45%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644)
}
.banner-info > p{
    text-align: justify;
    padding-bottom: 10px;
}
.banner-title{
    color: #04020f;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 10px;
}
.banner-info:hover{
    color: white;
    background-color: rgba(0, 204, 255, 0.904);
    transform: scale(1.05);
    box-shadow: 2px 2px 40px rgba(0, 31, 46, 0.932);
}
.banner-thumbnail{
    width: 45%;
}
.banner-thumbnail img{
    width: 493px;
    height: 453px;
    border-radius: 10px;
    transition: 0.4s transform;
}
.banner-thumbnail img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.932);
}
/* top banner ends here */
/* companies starts here */
.companies{
    padding: 20px;
    
}
.company{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: rgba(190, 197, 196, 0.342);
}
.company-logo{
    padding: 15px;
}
.companies-hr{
    border: 2px solid rgba(1, 0, 85, 0.384);
    border-bottom: none;
}
/* companies ends here */
/* gadget collections starts here */
.gadget-collections{
    margin-top: 50px;
}
.gadgets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 30px;
}
.gadget{
    width: 330px;
    height: 476px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px rgba(0, 119, 255, 0.644);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
}
.gadget-info{
    margin-top: 15px;
}
.gadget-name{
    font-size: 22px;
    color: #18191F;
}
.gadget-price{
    font-size: 20px;
    font-weight: 400;
}
.gadget-thumbnail{
    width: 300px;
    height: 256px;
}
.gadget-rating{
    display: flex;
    align-items: center;
}
.gadget-rating > p{
    padding-left: 8px;
}
.fa-star, .fa-star-half-alt{
    color: rgb(255, 0, 179);
}
.empty{
    color: #AEAEAE;
}
.gadget-avilability{
    margin-top: 10px;
    font-size: 14px;
}
/* gadget collections ends here */
/* Feartures starts here */
.gadgets-feature{
    margin-top: 50px;        
}
.feature{    
    display: flex;    
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 60px; 
    margin: 50px 0;
}
.feature-thumbnail > img{
    width: 400px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(8, 0, 8, 0.644);
}
.feature-thumbnail{
    width: 45%;
}
.features-description{
    width: 45%;
}
.features-description > h3{
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 10px;
}
.features-description > p{
    text-align: justify;
    padding-bottom: 10px;
}
.features-description > a{
    text-decoration: none;    
}
/* Feartures ends here */
/* footer starts here */
.gadget-footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 30px;    
}
.footer-info > h3{
    font-size: 24px;
    font-weight: 400;    
}
.footer-info > p{
    font-size: 12px;
    font-weight: 300;
}
.footer-icons{
    color: rgb(32, 204, 204);
    margin-top: 10px;
}
.footer-icons > i{
    padding: 5px;
    font-size: 20px;
}
/* footer ends here */
/* responsive design starts here */
/* Mobile Devices starts here */
@media only screen and (max-width: 688px) { 
    .container{
        width: 100%;
    }
    .menubar{
        flex-direction: column;
    }      
    .menu-right{
        display: none;
    }
    .top-banner, .company, .feature{
        flex-direction: column; 
        align-items: center;       
    }
    .banner-info,.banner-thumbnail{
        width:100%; 
    }
    .banner-info{
        margin-bottom: 30px;
    }
    .gadgets{
        grid-template-columns: repeat(1, 1fr);
    }    
}    
/* Moblie Devices starts here */
/* Tablet Devices starts here */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .menubar{
        flex-direction: column;
    }      
    .menu-right{
        display: none;
    }
    .top-banner, .company, .feature{
        flex-direction: column; 
        align-items: center;       
    }
    .banner-info,.banner-thumbnail{
        width:100%; 
    }
    .banner-info{
        margin-bottom: 30px;
    }
    .gadgets{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Tablet Devices ends here */
/* responsive design ends here */